<% if article.errors.any? %>
  <article id="error_message_area" class="message is-danger">
    <ul class="message-body">
      <% article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </article>
<% end %>
