<section class="section">
  <div class="container">
    <%= render "tab" %>
    <%= render "add_article_form", article: @article %>

    <div id="article_cards" class="columns is-multiline">
      <% @articles.each do |article| %>
        <div class="column is-half-tablet is-one-third-desktop">
          <%= render "article_card", article: article, memo_visible: true %>
        </div>
      <% end %>
    </div>
  </div>
</section>