<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">Learn + Article = <span class="has-text-warning">Learticle</span></h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-primary has-text-weight-bold pt-5">Webサーフィンを学びの時間に！</h2>
    <div class="columns pt-5">
      <div class="column mb-5">
        <div class="card is-shadowless">
          <div>
            <i class="far fa-bookmark is-size-1 has-text-danger mb-3"></i>
            <p class="has-text-weight-bold mb-1">
              Web記事との出会いは一期一会。<br>
              スキマ時間に出会った記事は<br>『<span class="has-text-primary">あとで読むリスト</span>』に登録して、<br>
              時間のあるときにゆっくり読みましょう！
            </p>
          </div>
        </div>
      </div>
      <div class="column mb-5">
        <div class="card is-shadowless">
          <div class="card-conten">
            <i class="fas fa-check is-size-1 has-text-danger mb-3"></i>
            <p class="has-text-weight-bold mb-1">
              読み終わった記事は『<span class="has-text-primary">読了リスト</span>』で管理。<br>
              メモを残しておけば見返すときにも便利！
            </p>
          </div>
        </div>
      </div>
      <div class="column mb-5">
        <div class="card is-shadowless">
          <div class="card-conten">
            <i class="fas fa-share-alt is-size-1 has-text-danger mb-3"></i>
            <p class="has-text-weight-bold mb-1">
              記事のメモは<span class="has-text-primary">SNSにシェア</span>できます！<br>
              学びをアウトプットして定着させましょう。<br>
              誰かのインプットになればさらに素敵。
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "auth/auth0", method: :post, id: :landing_login_button, class: "button is-primary has-text-weight-bold is-medium is-rounded" do %>
      <span class="icon mr-1"><%= image_tag "logo_white.svg" %></span>
      <span>Login</span>
    <% end %>
  </div>
</section>