<section class="section">
  <div class="container" style="max-width: 840px;">

    <div class="mb-5">
      <h1 class="title has-text-centered has-text-primary mb-5">プライバシーポリシー</h1>
      <p>
        本サイトの管理人が提供するサービス「Learticle」（以下、「本サービス」といいます。）における、
        ユーザーの個人情報の取り扱いについて、以下の通りプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。
      </p>
    </div>

    <div class="content">
      <ol>
        <li class="subtitle has-text-weight-bold">個人情報</li>
        <p>
          「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、
          生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等等により
          特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、
          及び健康保険証の保険証番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
        </p>
        <li class="subtitle has-text-weight-bold mt-5">個人情報の利用目的</li>
        <p>
          管理人が個人情報を収集・利用する目的は以下の通りです。
        </p>
        <ol>
          <li>本サービスの提供のため</li>
          <li>ログイン時における本人認証、その他本サービスの運営に必要な管理のため</li>
          <li>本サービスの利用規約に違反する行為への対応及び当該違反行為の防止のため</li>
          <li>本サービスに関する規約、ポリシー等の変更等を等をユーザーへ通知するため</li>
          <li>紛争、訴訟などへの対応のため</li>
          <li>本サービスに関するご案内、お客様からのお問い合わせなどへの対応のため</li>
          <li>上記の利用目的に付随する目的のため</li>
        </ol>
        <li class="subtitle has-text-weight-bold mt-5">利用目的の変更</li>
        <ol>
          <li>管理人は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</li>
          <li>利用目的の変更を行った場合には、変更後の目的について、所定の方法によりユーザーに通知し、または本ウェブサイト上に公表するものとします。</li>
        </ol>
        <li class="subtitle has-text-weight-bold mt-5">個人情報の第三者提供</li>
        <p>法令に定める場合を除き、個人情報を事前に本人の同意を得ることなく第三者に提供することは行いません。</p>
        <li class="subtitle has-text-weight-bold mt-5">個人情報の開示・訂正・利用停止・消去</li>
        <p>管理人は、ユーザーが自己の個人情報について、開示・訂正・利用停止・消去等を求める権利を有していることを確認し、「個人情報取扱に関するお問い合わせ窓口」を設け、これらの要求や苦情に対して速やかに対処します。</p>
        <li class="subtitle has-text-weight-bold mt-5">個人情報取扱に関するお問い合わせ窓口</li>
        <p>「seiei.learticle(a)gmail.com」までご連絡ください。</p>
        <p>※迷惑メール対策のため、「@」を「(a)」で表記しております。お問合わせの際は「(a)」を半角の「@」に変更してご利用ください。</p>
        <p class="has-text-right">以上</p>
      </ol>
    </div>
  </div>
</section>