<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <%= image_tag "logo.svg" %>
      <h1 class="title has-text-warning">Learn + Article</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-primary has-text-weight-bold pt-5">Webサーフィンを学びの時間に</h2>
    <div class="columns pt-5">
      <div class="column mb-5">
        <div class="card is-shadowless">
          <div>
            <i class="far fa-bookmark is-size-1 has-text-danger mb-3"></i>
            <p class="has-text-weight-bold has-text-primary is-size-5 mb-2">あとで読むリスト</p>
            <p class="has-text-weight-medium">
              Web記事との出会いは一期一会。<br>
              スキマ時間に見つけた記事は<br>
              さくっと登録しておいて、<br>
              時間のあるときにゆっくり読もう！
            </p>
          </div>
        </div>
      </div>
      <div class="column mb-5">
        <div class="card is-shadowless">
          <div class="card-conten">
            <i class="fas fa-check is-size-1 has-text-danger mb-3"></i>
            <p class="has-text-weight-bold has-text-primary is-size-5 mb-2">読了リスト</p>
            <p class="has-text-weight-medium">
              読み終わった記事も読了リストでしっかり管理。<br>
              あとで読み返すことも簡単にできます。<br>
              読んだ量はモチベーションにもつながります！
            </p>
          </div>
        </div>
      </div>
      <div class="column mb-5">
        <div class="card is-shadowless">
          <div class="card-conten">
            <i class="fas fa-share-alt is-size-1 has-text-danger mb-3"></i>
            <p class="has-text-weight-bold has-text-primary is-size-5 mb-2">メモとシェア</p>
            <p class="has-text-weight-medium">
              読み終わった記事にはメモを残せます！<br>
              記事とメモはパパッとSNSにシェア。<br>
              アウトプットすることで学びがもっと定着するし、<br>
              誰かのインプットになったら素敵です！
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "auth/auth0", method: :post, id: :landing_login_button, class: "button is-primary has-text-weight-bold is-medium is-rounded mb-2" do %>
      <span class="icon mr-1"><%= image_tag "surfing.svg" %></span>
      <span>Login</span>
    <% end %>
  </div>
</section>