@import 'bulma';
// @import 'bulma/bulma.sass';

.grid {
  margin: 0 auto;
}

.gutter-sizer {
  width: 2%;
}

.grid-sizer, .grid-item {
  @include mobile   { width: 100%; }
  @include tablet   { width: 49%;  }
  @include desktop  { width: 32%; }
}